doctype html
html
 head
  title="App XYZ"
  link(rel='stylesheet', href='http://localhost:3000/style.css', type='text/css')
 body
  h1.secondTemplateH1 App XYZ
  div.secondTemplate
   h2.secondTemplateH2 Login succeed :)
   